{% extends "layout.html" %} {% set active_page = "login" %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <h1>Sign In</h1>
    <hr>
    <form action="" method="post" class="needs-validation" novalidate>
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.email.label(class="form-label") }} {{
        form.email(class="form-control", size=32) }} {% for error in
        form.email.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label") }} {{
        form.password(class="form-control", size=32) }} {% for error in
        form.password.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3 form-check">
        {{ form.remember_me(class="form-check-input") }} {{
        form.remember_me.label(class="form-check-label") }}
      </div>

      <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
    </form>
  </div>
  <div class="col-md-6">
    <img
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt="Image"
      class="img-fluid"
    />
  </div>
</div>
{% endblock %}
