<div class="card-product d-flex">
  <img
    src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"
  />
  <div class="card-product-infos">
    <h2 class="text-dark">{{ product.name }}</h2>
    <p class="text-dark">{{ product.description }}</p>
    <span class="badge bg-info mt-2">{{ product.price }}€</span>
  </div>
  <input
    type="hidden"
    id="product-id"
    name="product-id"
    value="{{ product.id }}"
  />
  <button
    class="add-product-to-cart btn btn-light align-self-stretch flex-fill"
  >
    Add to cart
  </button>
</div>
