{% extends "layout.html" %}

{% block content %}
    <h2 class="mt-5">Payment Details</h2>
    <hr>
    <form action="" method="post" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.card_number.label(class="form-label") }}
            {{ form.card_number(class="form-control", size=32) }}
            {% for error in form.card_number.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.cvv.label(class="form-label") }}
            {{ form.cvv(class="form-control", size=32) }}
            {% for error in form.cvv.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.expiration_date.label(class="form-label") }}
            {{ form.expiration_date(class="form-control", size=32) }}
            {% for error in form.expiration_date.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control", size=32, value=current_user.address) }}
            {% for error in form.address.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.zip_code.label(class="form-label") }}
            {{ form.zip_code(class="form-control", size=32, value=current_user.zip_code) }}
            {% for error in form.zip_code.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control", size=32, value=current_user.location) }}
            {% for error in form.location.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.vat_number.label(class="form-label") }}
            {{ form.vat_number(class="form-control", size=32, value=current_user.vat_number) }}
            {% for error in form.vat_number.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3 form-check">
            {{ form.terms_and_conditions(class="form-check-input") }}
            {{ form.terms_and_conditions.label(class="form-check-label") }}
            {% for error in form.terms_and_conditions.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <h2 class="mt-5">Shipping</h2>
        <hr>
        <div class="mb-3">
            <label class="form-label" for="shipping-company">Shipping Company</label>
            <input id="shipping-company" class="form-control" readonly value="Trippy Transport Company">
            <div class="text-success"><strong>Free Shipping</strong></div>
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
{% endblock %}
