{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title %}
	Home
{% endblock %}

{% block content %}

<h1 class="mt-4">Shop now</h1>
<hr>
<div class="cards">
	{% for category in product_categories %}
		<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
			<a href="{{ url_for('main.products', category_id=category.id) }}">{{ category.name }}</a>
		</div>
	{% endfor %}
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
	<!-- Additional scripts -->
	<script>
		console.log('Home page script');
	</script>

{% endblock %}