<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>
						{% block title %}Trippy Botanicals{% endblock %}
				</title>
        {% endblock %}
    </head>
    <body>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<div class="container-fluid">
								<a class="navbar-brand" href="{{ url_for('index') }}">
									<img src="/static/logo.png" alt="logo" width="36" height="30" class="rounded-inline-block align-text-top">
									Trippy Botanicals
								</a>
								<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarNav">
										{% set active_page = active_page|default('index') -%}
										<ul class="navbar-nav">
											<li class="nav-item">
														<a id="index" class="{% if active_page == 'index' %} nav-link active {% else %} nav-link {% endif %}" href="#">
																Home
														</a>
												</li>
												<li class="nav-item">
														<a class="{% if active_page == 'products' %} nav-link active {% else %} nav-link {% endif %}" href="#">
																Products
														</a>
												</li>
												<li class="nav-item">
														<a class="{% if id == active_page %} nav-link active {% else %} nav-link {% endif %}" href="#">
																Rewards
														</a>
												</li>
												{% if current_user.is_authenticated %}
														<li class="nav-item">
																<a class="navlink" href="{{ url_for('logout') }}">
																		Logout
																</a>
														</li>
														<li class="nav-item">
																<a class="{% if active_page == 'user' %} nav-link active {% else %} nav-link {% endif %}" href="{{ url_for('user', id=current_user.id) }}">
																		Profile
																</a>
														</li>
														{% else %}
														<li class="nav-item">
																<a id="login"class="{% if active_page == 'login' %} nav-link active {% else %} nav-link {% endif %}" href="{{ url_for('login') }}">
																		Login
																</a>
														</li>
														<li class="nav-item">
																<a class="{% if active_page == 'register' %} nav-link active {% else %} nav-link {% endif %}" href="{{ url_for('register') }}">
																		Register
																</a>
														</li>
												{% endif %}
										</ul>
								</div>
						</div>
				</nav>
				<div class="container">
						<!-- Page content -->
						{% block content %}{% endblock %}

						{% block scripts %}
						<!-- Optional JavaScript -->
								{{ bootstrap.load_js() }}
						{% endblock %}
				</div>
    </body>
</html>