{% extends "layout.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

				<p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}<br>
            {% for error in form.first_name.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>

				<p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
            {% for error in form.last_name.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>

				<p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>

				<p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>

				<p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span class="text-danger">[{{ error }}]</span>
            {% endfor %}
        </p>

				<p>
					{{ form.address.label }}<br>
					{{ form.address(size=32) }}<br>
					{% for error in form.address.errors %}
					<span class="text-danger">[{{ error }}]</span>
					{% endfor %}
			</p>

			<p>
					{{ form.zip_code.label }}<br>
					{{ form.zip_code(size=32) }}<br>
					{% for error in form.zip_code.errors %}
					<span class="text-danger">[{{ error }}]</span>
					{% endfor %}
			</p>

			<p>
					{{ form.location.label }}<br>
					{{ form.location(size=32) }}<br>
					{% for error in form.location.errors %}
					<span class="text-danger">[{{ error }}]</span>
					{% endfor %}
			</p>

			<p>
					{{ form.phone.label }}<br>
					{{ form.phone(size=32) }}<br>
					{% for error in form.phone.errors %}
					<span class="text-danger">[{{ error }}]</span>
					{% endfor %}
			</p>

			<p>
					{{ form.vat_number.label }}<br>
					{{ form.vat_number(size=32) }}<br>
					{% for error in form.vat_number.errors %}
					<span class="text-danger">[{{ error }}]</span>
					{% endfor %}
			</p>

			<p>{{ form.submit() }}</p>
    </form>
{% endblock %}