{% extends "layout.html" %}
{% set active_page = "user" %}

{% block content %}
    <h1>{{ user.full_name() }}</h1>
    <p>
      <strong>Member since:</strong>&nbsp;
      <time datetime="{{ user.date_joined.isoformat() }}">{{ user.date_joined.date() }}</time>
    </p>
    <hr>

				<table class="table">
						<thead>
								<tr>
										<th scope="col">ID</th>
										<th scope="col">Date</th>
										<th scope="col">Total</th>
										<th scope="col">#</th>
								</tr>
						</thead>
						<tbody>
              {% if user.orders %}
                  {% for order in user.orders %}
                      <tr>
                          <th scope="row">{{ order.id }}</th>
                          <td><time datetime="{{ order.created_at.isoformat() }}">{{ order.created_at.strftime("%m/%d/%Y, %H:%M:%S") }}</time></td>
                          <td>{{ order.total }}€</td>
                          <td>
                              <a class="link-opacity-75-hover" href="{{ url_for('order', id=order.id) }}">
                                  <i class="bi bi-0-circle-fill"></i>
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
              {% else %}
                  <tr>
                      <td colspan="4">No orders found.</td>
                  </tr>
              {% endif %}
						</tbody>
				</table>

{% endblock %}